<!-- blog-head.html starts -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ page.headline | strip | slice: 0, 109 }}",
        {% if page.description %}
        "description": "{{ page.description }}",
        {% endif %}
        "datePublished": "{{ page.date_published }}",
        "dateModified": "{{ page.last_modified_at }}",
        "image" : [
            {% if page.image %}
            "{{ site.url }}/assets/img/{{ page.image }}"
            {% else %}
            "{{ site.facebook_main_image }}"
            {% endif %}
        ],
        "url" : "{{ site.url }}{{ page.url }}",
        "keywords" : "News,Data,{{ page.tags }}",
        "inLanguage" : {
            "@type": "Language",
            "name": "English"
        },
        "author": {
            "@type": "Person",
            "name": "Pardhu"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.main_image }}"
            }
        }
    }
</script>

<!-- metadata -->
<meta property="og:title"       content="{{ page.title }} | {{ site.title }}" />
<meta property="og:url"         content="{{ site.url | append: page.url }}" />
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% endif %}
<meta property="og:image"
      content="{% if page.image %}{{ site.url }}/assets/img/{{ page.image }}{% else %}{{ site.facebook_main_image }}{% endif %}"
/>
<meta property="og:site_name"   content="{{ site.title }}">

<!-- article related metadata -->
<meta property="og:type"                content="article" />
<meta property="article:published_time" content="{{ page.date_published }}" />
<meta property="article:modified_time"  content="{{ page.last_modified_at }}" />
{% if page.section %}
<meta property="article:section"        content="{{ page.section }}" />
{% endif %}
{% for categ in page.category %}
<meta property="article:tag"            content="{{ categ }}" />
{% endfor %}

<!-- Twitter -->
<meta property="twitter:card"   content="summary">
<meta property="twitter:title"  content="{{ page.title }} | {{ site.title }}">
<meta property="twitter:url"    content="{{ site.url | append: page.url }}">
<meta property="twitter:description" content="{{ page.description }}">
<meta property="twitter:image" content="{% if page.image %}{{ site.url }}/assets/img/{{ page.image }}{% else %}{{ site.twitter_main_image }}{% endif %}">

<!-- blog-head.html ends -->