$twitter-color: #00ACEE;
$fb-color: #5D7DAE;

.page-title {
    font-weight: $font-weight-bold;
    color: var(--color-header-logo);
    white-space: nowrap;
    font-size: large;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.text-large {
    font-size: large;
}

.line-height-large {
    line-height: 2;
}

$mobileWidth: 540px;
.pub-container {
    $widthVar: 100vw;
    // Non mobile
    @media screen and (min-width: $mobileWidth){
        $widthVar: 80vw;
    }
    // Mobile
    @media screen and (max-width: $mobileWidth) {
        $widthVar: 85vw;
    }
    width: $widthVar;
    padding-left: (100vw - $widthVar)/2;
    padding-right: (100vw - $widthVar)/2;
}

.fs-7 {
    font-size: 0.85rem;
}

.header-button {
    color: white !important;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
        &:active,
        &:hover {
            background-color: $warning !important;
            color: black !important;
        }
    }
}

.share-button {
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 0.4rem;
    font-size: small;

    &:hover, &:active {
        color: white;
    }
}

.twitter-share-button {
    background-color: $twitter-color;
}

.fb-share-button {
    background-color: $fb-color;
}

.card-click-icon {
    font-size: 35px;
    background-color: $warning;
}
